body {
    font-family: Helvetica, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.container {
	display: grid;
    justify-content: center;
    align-items: center;
}

.container > *{
	display: grid;
	justify-self: center;
    align-self: center;
}
#input_form {
	width:400px;
	justify-self: center;
    align-self: center;
}

#input_form > * {
	display: block;
	justify-self: center;
    align-self: center;
	margin-bottom: 5px;
}

#cat_button {
	background-image: url('icons/iconButton.png');
	background-size: auto;
	text-shadow:
		-1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
	color: white;
	width:192px;
	height:160px;
}

#login_list {
	display: grid;
	justify-content: center;
    align-items: center;
}
#login_list > *{
	display: block;
	justify-self: center;
    align-self: center;
	margin-bottom: 5px;
}